*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.obj-width{
   max-width: 1100px;
   margin: auto; 
}
nav{
    background-color: rgb(34, 62, 53);
    box-shadow: 0 7px 10px rgba(0,0,0,0.5);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}
.navbar .logo{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.4rem;
}
#search-input{
    max-width: 400px;
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}
#search-button{
    padding:10px 20px;
    max-width: 400px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left:3px;
}
#blog-container{
    padding: 3rem 0;
    display: flex;
    justify-content:flex-start;/*position the contents at beginning of the container*/
    align-items: flex-start;
    flex-wrap:wrap ;
}
.blog-card{
    width:280px;
    border:1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;/*spacing between image and border*/
    margin: 10px;
    
}
.blog-card:hover{
    box-shadow:4px 4px 10px rgba(0,0,0,0.2) ;
    transition: 0.2ms;
}
/*now we are making the pictures responsive*/

.blog-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.blog-card h2{
    color: black;
    font-size: 1.7rem;
    font-weight: 500;
}
.blog-card p{
    padding-top: 0.7rem;
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
}
@media(max-width:500px){
    .navbar .logo {
        font-size: 1.8rem; 
    }
    #search-input {
        max-width: 150px;
        padding: 10px 10px;
    }
    nav {
        padding: 0 20px;
    }
    .blog-card {
        width: 100%;
       
    }
        
}    

